# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/

# testing
.playwright/
.playwright/screenshots/